.countdown.show .running, .countdown.hero_count .running {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-flow: wrap;
      flex-flow: wrap;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.countdown.show .running timer, .countdown.hero_count .running timer {
  font-size: 75px;
  font-weight: 600;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  line-height: 1;
  color: #8c0734;
}

.countdown.show .running timer .days, .countdown.hero_count .running timer .days,
.countdown.show .running timer .hours,
.countdown.hero_count .running timer .hours,
.countdown.show .running timer .minutes,
.countdown.hero_count .running timer .minutes,
.countdown.show .running timer .seconds,
.countdown.hero_count .running timer .seconds {
  width: 150px;
  text-align: left;
  margin: 0 7px;
}

@media (max-width: 480px) {
  .countdown.show .running timer, .countdown.hero_count .running timer {
    font-size: 40px;
  }
  .countdown.show .running timer .days, .countdown.hero_count .running timer .days,
  .countdown.show .running timer .hours,
  .countdown.hero_count .running timer .hours,
  .countdown.show .running timer .minutes,
  .countdown.hero_count .running timer .minutes,
  .countdown.show .running timer .seconds,
  .countdown.hero_count .running timer .seconds {
    width: 49px;
  }
}

.countdown.show .running .labels, .countdown.hero_count .running .labels {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  font-size: 14px;
}

.countdown.show .running .labels span, .countdown.hero_count .running .labels span {
  width: 187px;
  text-align: center;
  margin: 0px 2px;
}

@media (max-width: 480px) {
  .countdown.show .running .labels span, .countdown.hero_count .running .labels span {
    width: 69px;
  }
}

.countdown.show .running .text, .countdown.hero_count .running .text {
  font-size: 20px;
  margin-top: 12px;
  font-weight: 600;
}

.countdown.show .running button, .countdown.hero_count .running button {
  border: none;
  background-color: black;
  color: white;
  border-radius: 25px;
  padding: 10px 20px;
  margin: 10px;
}

.countdown.show .running .break, .countdown.hero_count .running .break {
  -ms-flex-preferred-size: 100%;
      flex-basis: 100%;
  height: 0;
}

.countdown.show .ended, .countdown.hero_count .ended {
  display: none;
  -ms-flex-flow: wrap;
      flex-flow: wrap;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.countdown.show .ended .text, .countdown.hero_count .ended .text {
  font-size: 20px;
}

.countdown.show .ended button, .countdown.hero_count .ended button {
  border: none;
  background-color: #5a0000;
  color: white;
  border-radius: 25px;
  padding: 10px 20px;
  margin: 10px;
}

.countdown.show .ended .break, .countdown.hero_count .ended .break {
  -ms-flex-preferred-size: 100%;
      flex-basis: 100%;
  height: 0;
}

.countdown.hero_count {
  background-color: #6d0303;
  margin: 0 10px;
}

.countdown.hero_count h2 {
  font-size: 40px;
  color: #b3b3b3;
  font-size: 33px;
}

.countdown.hero_count .running timer {
  color: #e2e2e2;
}

.countdown.hero_count .running button {
  background-color: #af0b0b;
}

.countdown.hero_count .running button a {
  color: white;
}

.countdown.hero_count .running .labels span {
  width: 95px;
  margin: 0px 3px 0px 0px;
}

@media (max-width: 480px) {
  .countdown.hero_count .running .labels span {
    width: 69px;
  }
}